.edit {
  color: var(--back-gray);
  padding: 0.5rem;
  border-radius: 3rem;
  border: 0;
  margin-right: 1rem;
}

.delete {
  color: var(--red);
  padding: 0.5rem;
  border-radius: 2rem;
  border: 0;
}
