.dashboard {
  text-align: center;
}

.totals {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.total-item {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.income {
  background-color: var(--purple);
}

.expense {
  background-color: var(--red);
}

.total {
  background-color: var(--back-gray);
}

.positive {
  color: green;
}

.negative {
  color: var(--red);
}
