<mat-card class="back-gray">
  <mat-card-content>
    <div class="img-main-page flex">
      <img src="../../../assets/img/financial_main.svg" alt="Home - Threem" />
    </div>
    <div class="text-main-page flex">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
        delectus error velit excepturi odit aspernatur laudantium numquam
        molestias, voluptate consequatur rem, beatae dolor illo accusantium eos
        asperiores! Iusto, laudantium expedita?
      </p>
    </div>
  </mat-card-content>
</mat-card>
