.container {
  height: 100%;
  width: 80%;
  margin: auto;
}

.header-main {
  height: 10%;
  display: flex;
  align-items: center;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--white);
    padding: 0 20px;

    .branding {
      a {
        text-decoration: none;
        color: var(--white);
        font-weight: 600;
        font-size: larger;
      }
    }

    .pages {
      a {
        text-decoration: none;
        color: var(--white);
        font-size: medium;
      }
    }
  }
}

.content-main {
  height: 80%;
  padding: 3rem;
}

.footer-main {
  height: 10%;
  display: flex;
  align-items: center;

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 16px;
      line-height: 1.5;
      color: var(--light-gray);
    }
  }
}
