<div class="container">
  <div class="header-main">
    <div class="header">
      <div class="branding">
        <a routerLink="home">
          <mat-icon aria-hidden="true">home</mat-icon>
        </a>
      </div>
      <div class="pages">
        <button mat-button [matMenuTriggerFor]="entries">Lançamentos</button>
        <mat-menu #entries="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="incomes">
            <mat-icon>trending_up</mat-icon>Receitas
          </button>
          <button mat-menu-item [matMenuTriggerFor]="expenses">
            <mat-icon>trending_down</mat-icon>Despesas
          </button>
        </mat-menu>

        <mat-menu #incomes="matMenu">
          <button mat-menu-item routerLink="incomes/create">
            <mat-icon>price_check</mat-icon>Nova Receita
          </button>
          <button mat-menu-item routerLink="incomes">
            <mat-icon>receipt_long</mat-icon>Listar Receitas
          </button>
        </mat-menu>

        <mat-menu #expenses="matMenu">
          <button mat-menu-item routerLink="expenses/create">
            <mat-icon>payments</mat-icon>Nova Despesa
          </button>
          <button mat-menu-item routerLink="expenses">
            <mat-icon>receipt</mat-icon>Listar Receitas
          </button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="accounts">Contas</button>
        <mat-menu #accounts="matMenu">
          <button mat-menu-item routerLink="accounts/create">
            <mat-icon>add_card</mat-icon>Criar Conta
          </button>
          <button mat-menu-item routerLink="accounts">
            <mat-icon>account_balance_wallet</mat-icon>Listar Contas
          </button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="categories">Categorias</button>
        <mat-menu #categories="matMenu">
          <button mat-menu-item routerLink="categories/create">
            <mat-icon>add</mat-icon>Criar Categoria
          </button>
          <button mat-menu-item routerLink="categories">
            <mat-icon>list</mat-icon>Listar Categorias
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <div class="content-main">
    <router-outlet></router-outlet>
  </div>
  <div class="footer-main">
    <footer>
      <p>&copy; 2023 - Threem - Todos os direitos reservados</p>
    </footer>
  </div>
</div>
